<div class="container">
  <h2>Player Overview</h2>
  <div *ngFor="let player of players; index as i">
    <mdb-card class="text-white mb-3" [ngClass]="{'bg-warning': player.getTurn(), 'bg-info': !player.getTurn()}"  style="max-width: 20rem">
      <mdb-card-header>{{player.getPlayerName()}} - Team {{player.getTeam()}}</mdb-card-header>
      <mdb-card-body>
        <mdb-card-title>
          <h5>{{player.getHero().getClass()}}</h5>
        </mdb-card-title>
        <mdb-card-text class="text-white">
            <ul>
                <li>HP: {{player.getHero().getHp()}}</li>
                <li>Movement: {{player.getHero().getMovement()}}</li>
                <li>Position: X{{player.getHero().getX()}}, Y{{player.getHero().getY()}}</li>
            </ul>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
