<div class="container-fluid startMenu">
    <div class="container justify-content-center p-3">
        <h1>Main Menu</h1> 
        <hr>   
        <div class="col align-items-center">
            <div class="md-form">
                <input mdbInput type="text" [(ngModel)]="gameId" (keyup)="gameIdChange()" id="gameIdInput" class="form-control ng-valid">
                <label for="gameIdInput" class="">Enter Game-ID</label>
                <button type="button" block="true" mdbBtn color="{{joinGameColor}}" (click)="joinGame()" mdbWavesEffect>Join Game</button> 
            </div>
            <button type="button" block="true" mdbBtn color="{{createGameColor}}" (click)="createNewGame()" mdbWavesEffect>Create new Game!</button>
            <p class="col text-warning text-wrap" style="font-size: 12px;">{{userInfo}}</p>
        </div>      
    </div>
</div>