<!-- Card -->
<div class="container mb-3">
    <mdb-card [ngStyle]="{'background-color': this.player?.getIsReady() ? '#81c784' : '#ef9a9a' }">
        <mdb-card-body class="text-center">
            <mdb-card-title>
                <h4>{{this.player?.getPlayerName()}}</h4>
            </mdb-card-title>
            <mdb-card-text>
                <p>{{this.player?.getHero()?.getClass() ? this.player?.getHero()?.getClass() : 'Warrior'}}</p>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>
</div>